li.liMenu 
    a.menuLink(href="/Tienda") Productos  
li.liMenu 
    a.menuLink(href="/mi-cuenta") Mi Cuenta
    ul.Submenu(class=Pagina != 'index' ? 'BarraCom' : '')
        li 
            a(href="/cerrar-sesion") Cerrar Sesion 
li.liMenu 
    if usuario && usuario.rol === 'admin'
        a.menuLink(href="/CrearProducto") Crear Producto