extends layout 


block  contenido 
    section.Seccion.SeccionNosotros 
        .Contenedor.ContenedorNosotros 
            .ImagenesNosotros 
                img.Img1(src="/img/Celulares/CelularNosotros.webp", alt="Celulares")
                img.Img2(src="/img/Celulares/CelularNosotros2.jpg", alt="Celulares")
            .SobreNosotros 
                h2  Sobre Nosotros 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sint quos iure perspiciatis, distinctio ratione. Ipsa corporis cumque autem iste assumenda porro accusamus, soluta ut temporibus totam quos dolorum? Architecto?

    //-- Seccion Celulares --//
    section.Seccion.Celulares 
        h2 Algunos de Nuestros Celulares 
        .ContenedorCelu 
            .Contenedor.ContenedorProductos 
                .Producto 
                    .Imagen 
                        img(src="/img/Celulares/MotorolaG9/MotorolaG9.jpg", alt="")
                        h3 Motorola G9 
                        p Celular Nuevo con muchas caracteristicas inovadoras que te haran explotar!!!
                .Producto 
                    .Imagen 
                        img(src="/img/Celulares/MotorolaG9/MotorolaG9.jpg", alt="")
                        h3 Motorola G9 
                        p Celular Nuevo con muchas caracteristicas inovadoras que te haran explotar!!!
                .Producto 
                    .Imagen 
                        img(src="/img/Celulares/MotorolaG9/MotorolaG9.jpg", alt="")
                        h3 Motorola G9 
                        p Celular Nuevo con muchas caracteristicas inovadoras que te haran explotar!!!
    //-- Seccion Galeria --//
    section.Seccion.Galeria 
        h2 Galeria 
        .Contenedor.ContenedorImagenes 
            img.ImgGal(src="/img/Celulares/SamsungA02/Samsunga02.jpg", alt="Celular")
            img.ImgGal(src="/img/Celulares/SamsungS20/SamsungS20.webp", alt="Celular")
            img.ImgGal(src="/img/Celulares/Nokia1.6/Nokia1.6.jpg", alt="Celular")
            img.ImgGal(src="/img/Celulares/MotorolaG22/MotorolaG22.jpg", alt="Celular")
            img.ImgGal(src="/img/Celulares/Alcatela3/Alcatela3.webp", alt="Celular")
            img.ImgGal(src="/img/Celulares/SamsungA02/Samsunga02.jpg", alt="Celular")
    //-- Seccion Parallax --//
    section.Seccion.ContenedorPantalla.parallax 
        .BackgroundPantalla 
            .Contenedor.ContenedorTexto 
                h2 Disfruta de la ultima tecnologia de celulares
    //-- Seccion Informacion --//
    section.Seccion.Info 
        h2 Informacion Importante 
        .Contenedor.ContInfoTortas 
            .InformacionDiv 
                .Borde
                    p Envios a todo el Pais.
            .InformacionDiv 
                .Borde
                    p Productos Originales y de calidad.
            .InformacionDiv 
                .Borde
                    p Aceptamos Pagos por cualquier medio.
