extends layout

block contenido
    section.Contacto
        h2 Restablecer Contraseña
        .CrearCuenta 
            form(method="POST" class="default-form") 
                div.Campo 
                    label(for="Password") Contraseña: 
                    input(type="Password" name="Contraseña" placeholder="Nueva Contraseña")
                .Campo.left 
                     button.Boton(name='BtnCrears' type='submit' value='Crear Cuenta')
                        span Restablecer Contraseña