extends layout


block contenido
    section.DatosEntrega
        .DatosComprador
            h2 Tipo de Envío
            form(action="" method="POST" class="default-form")
                .OpcionEnvio
                    input(type="radio" class="Radio" name="Envio" value="1")
                    .Informacion
                        label Retiro en Local
                        p.PEnvio El pedido estará listo 48 horas luego de completado el pedido.
                .OpcionEnvio
                    input(type="radio" class="Radio" name="Envio" value="2")
                    .Informacion
                        label Envío a Domicilio
                        p.PEnvio Envíos gratis en Buenos Aires. Fuera de esa zona se debe retirar por el local.

        .DireccionAcc.AccionesCarrito
            a(href="/carrito")
                button.Boton
                    span Regresar al Carrito
            a(href="" id="BtnCaja")
                button.Boton
                    span Ir a Caja
